
.dreamrs-title-box {
  background-color: rgb(16, 34, 70);
  height: 45px;
}

.dreamrs-title {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}




.btn-group-justified-charter {
  display: table !important;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-charter {
  position: relative;
  /*display: inline-block;*/
  vertical-align: middle;
}

.btn-group-justified-charter>.btn-group-charter {
  display: table-cell;
  float: none;
  width: 1%;
}


.btn-group-justified-charter>.btn-group-charter .btn-charter {
    width: 100%;
}

.btn-controls {
  border-radius: 0;
}



/* dropdowns width */

#sw-content-labsdrop {
  width: 100%;
  min-width: 150px;
}

#sw-content-paramsdrop {
  width: 100%;
  min-width: 270px;
}

#sw-content-filterdrop {
  width: 100%;
  min-width: 310px;
}

#sw-content-codedrop {
  width: 100%;
  min-width: 350px;
}




/* shiny alerts */

.shiny-notification-error {
  color: #fff !important;
  background-color: #d9534f !important;
  border: 1px solid #d9534f !important;
}

.shiny-notification-message {
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

.shiny-notification {
  font-size: 120% !important;
  font-weight: bold !important;
}

#shiny-notification-panel {
  width: 100% !important;
  text-align: center !important;
}

.shiny-notification-close {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}


