.container-drag-source {
  position: relative;
  height: 50%; 
  width: 99.5%; 
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  border-style: dashed;
  border-color: #112446;
  border-radius: 5px;
  border-width: 1px;
  overflow: auto;
  overflow-x: hidden;
  font-size: 12px;
}

.box-dad {
  position: relative;
  padding: 5px;
  margin: 5px;
  margin-top: 8px;
  border-style: dashed;
  border-color: #112446;
  border-radius: 3px;
  border-width: 1px;
  overflow: auto;
  overflow-x: hidden;
  font-size: 12px;
}


.label-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: -1;
  overflow: hidden;
  color: #E6E6E6;
  font-size: 150%;
}

/*
.label-dad {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E6E6E6;
  font-size: 150%;
}
*/
.label-dad {
  position: absolute;
  padding: 10px;
  z-index: -1;
  overflow: hidden;
  color: #E6E6E6;
  font-size: 120%;
}

.label-discrete {
  background-color: #EF562D;
  color: #FFFFFF;
}

.label-continue {
  background-color: #0C4C8A;
  color: #FFFFFF;
}

.label-datetime {
  background-color: #97D5E0;
  color: #FFFFFF;
}


.badge-dad {
  border-radius: 10px;
  cursor: move;
  font-size: 100%;
  overflow: hidden;
  margin: 3px;
}

.box-dad > .badge-dad {
  max-width: inherit;
}

.label-dragula {
  cursor: move; 
}


